
*.bin

base/.idea/

*.lock

base/.gradle/vcs-1/sd-primiti_4vnvkbsy28bsxl43odp7835t2/

*.properties

base/coursetorrent-app/build/classes/kotlin/main/il/ac/technion/cs/softwaredesign/CourseTorrent.class

*.class

*.tab

*.keystream

*.at

*.len

*.tab_i

*.kotlin_module

base/library/build/kotlin/libraryjar-classes.txt

*.jar

base/coursetorrent-app/build/kotlin/coursetorrentappjar-classes.txt

*.MF

*.s

*.values
